form{
    margin: 11.6rem 0;
}

fieldset{
    background-color: #D9D9D9;
    width: 50vw;
    max-width: 655px;
    border-radius: 20px;
    padding: 6.75rem;
    display: flex;
    flex-flow: column nowrap;
}

div{
    display: flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

h2{
    background-color: #CBBE41;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    padding: .5rem;
    margin: 9.25rem 0 2.1rem;
}

input{
    padding: .7rem;
    margin-bottom: .8rem;
}

.btnFormEnviar{
    background-color: #CBBE41;
    border-radius: 20px;
    padding: .5rem;
    width: 50%;
    margin: 1.75rem auto;
    font-size: 1.5rem;
    color: #fff;
}

.msgAuxiliarCadastro{
    margin-top: 3.3rem;
    font-size: 1.5rem;
}

.msgAuxiliarCadastro a{
    font-weight: bold;
}